<nav class="navbar">
  <ul class="navbar-list">
    <li class="navbar-item">
      <a href="#" class="navbar-link active" data-nav-link>About</a>
    </li>

    <li class="navbar-item">
      <a href="#" class="navbar-link" data-nav-link>Resume</a>
    </li>

    <li class="navbar-item">
      <a href="#" class="navbar-link" data-nav-link>Portfolio</a>
    </li>

    <li class="navbar-item">
      <a href="#" class="navbar-link" data-nav-link>Blog</a>
    </li>

    <li class="navbar-item">
      <a href="#" class="navbar-link" data-nav-link>Contact</a>
    </li>
  </ul>
</nav>
