/*-----------------------------------*\
  #posts.css
\*-----------------------------------*/


/**
 * copyright 2025 @symsoph
 * Help from MDN https://developer.mozilla.org/en-US/docs/Web/CSS/Layout_cookbook/Column_layouts
 */

body {
    padding: 0em 1em 1em; 
}

.container {
  border: 2px solid rgb(75 70 74);
  border-radius: 0.5em;
  padding: 20px;
  font: 1.2em sans-serif;

  column-width: 20em;
  column-rule: 1px solid rgb(75 70 74);
} 

/* for handling sub classes under container class */
.container > * {
  padding: 10px;
  margin: 0 10px;
  flex: 1;
}

div {
    text-align: center;

}

small {
    text-align: left;
}

ul { 
    list-style-type: "➡️ "; /* spaces count */
    margin: 0.3 rem; /* above ul */
}
